<div class="container projectContainer">
  <div class="section-title">
    <h2>Mes projets :</h2>
  </div>
  <div class="project">
    <a href="projetcs/dafl.html" target="_blank">
      <img src="assets/img/dafl/dafl.png" alt="DAFL Music" width="100%">
    </a>
  </div>
  <div class="project">
    <a href="projetcs/temoignages.html" target="_blank">
      <img src="assets/img/temoignage/temoignages.png" alt="Temoignages" width="100%">
    </a>
  </div>
  <div class="project">
    <a href="projetcs/fantomgames.html" target="_blank">
      <img src="assets/img/fantomgames/fantomgames.png" alt="Fantom Games" width="100%">
    </a>
  </div>
</div>
