<div class="container">
  <div class="section-title">
    <h2>Experiences :</h2>
  </div>
  <div class="container experience">
    <img src="./assets/img/timeline.png" class="timeline-img" width="15%">

    <div class="experience-item" data-info="Mon premier travail d'été, j'ai pu découvrir le monde de l'entreprise et les relations clients. J'ai eu beaucoup de mal au début à réussir à aller voir les clients, mais au final je me suis vite adapté, mon patron était satisfait de mon travail et j'ai été content de pouvoir améliorer mes relations sociales et mon sens de l'organisation.">
      <h2>Juillet 2022</h2>
      <p>Conseiller clientèle chez Sarl Top Modèle, Lozanne, 69380</p>
      <ul>
        <li>Vente, caisse</li>
        <li>Travail dans une équipe</li>
        <li>Réception et tri de la réserve</li>
      </ul>
      <div class="more-info"></div>
    </div>

    <div class="experience-item" data-info="Premier stage dans le cadre de mon BUT de deuxième année, et première fois dans une entreprise informatique. J'ai eu une très bonne équipe lors de mon stage, j'ai donc vite été à l'aise et mon travail m'a beaucoup plus. J'ai même eu l'occasion de présenter ce que j'avais réalisé lors d'une réunion devant une dizaine de responsables Michelin.">
      <h2>10 Avril - 16 Juin 2023</h2>
      <p>Stage chez CGI pour Michelin</p>
      <ul>
        <li>Développement d'une application de gestion de flux monitoring</li>
        <li>Écriture de nombreux scripts SQL avec Oracle, utilisation de SQL developer</li>
        <li>Utilisation de Splunk</li>
      </ul>
      <div class="more-info"></div>
    </div>

    <div class="experience-item" data-info="Après mon stage, CGI m'a proposé une alternance pour suivre ma troisième année de BUT Informatique. J'ai encore une fois eu une équipe formidable, et j'ai l'occasion de développer mes capacités de développement grâce à une organisation au sein de l'équipe assez stricte, mais c'est aussi l'occasion de développer des compétences de management et d'organisation plus poussée.">        >
      <h2>Septembre 2023 - Aout 2024</h2>
      <p>Alternance chez CGI pour Michelin</p>
      <ul>
        <li>Développement de services pour permettre la réalisation de tests sur l’outil Kafka</li>
        <li>Création de Dashboard Grafana pour extraire les erreurs présentes dans les logs</li>
        <li>Création de micro-services SpringBoot (langage Java)</li>
        <li>Création et configuration d’un serveur Kafka et d’un outil AKHQ avec Docker</li>
      </ul>
      <div class="more-info"></div>
    </div>
  </div>
</div>
