<div [class.dark-mode]="darkMode" class="interests">
  <div class="section-title">
    <h2>{{ 'PERSO.TITLE' | translate }}</h2>
  </div>

  <div class="row">
      @for (activity of activities; track activity) {
        <div class="activity">
          <img [ngSrc]="'assets/img/perso/'+activity.alt.toLowerCase().replaceAll(' ','')+'.png'" width="450" height="300" [alt]="activity.alt" priority>
          <h1>{{ activity.titleKey | translate }}</h1>
          <p>{{ activity.descKey | translate }}</p>
        </div>
      }
  </div>
</div>

