<div [class.dark-mode]="darkMode" class="skills container">
  <div class="section-title">
    <h2>{{ 'SKILLS.TITLE' | translate }}</h2>
  </div>

  <p>{{ 'SKILLS.DESCRIPTION' | translate }}</p>

  <div class="skills-grid">
    <div *ngFor="let skill of skills" class="skill-card">
      <span class="skill">{{ skill.name }} <i class="val">{{ skill.level }}%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" [style.width.%]="skill.level" role="progressbar"
             aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
